---
layout: download-version
version: 1.8.16.0
releasedate: 01-Nov-2015 22:17
versionhint: |
 <p><b>This is the last version which is compatible with Windows XP and Server 2003.</b></p>
operatingsystem: Windows XP/Vista/7/8/8.1/10
langs:
 - bg_BG    : 57
 - ca       : 89
 - zh_CN    : 100
 - zh_TW    : 99
 - cs       : 100
 - nl_NL    : 89
 - fi       : 51
 - fr       : 99
 - de       : 100
 - hu       : 57
 - id       : 53
 - it_IT    : 65
 - ja       : 99
 - ko_KR    : 93
 - pl_PL    : 80
 - pt_BR    : 99
 - pt_PT    : 58
 - ro       : 93
 - ru       : 99
 - sr@latin : 57
 - sk       : 62
 - es_ES    : 99
 - sv       : 94
 - tr       : 67
 - uk       : 54
 - vi       : 59
files:
 - file: TortoiseGit-1.8.16.0-32bit.msi
   date: 01-Nov-2015 22:17
   size: 16433152
 - file: TortoiseGit-1.8.16.0-32bit.msi.asc
   date: 01-Nov-2015 22:17
   size: 188
 - file: TortoiseGit-1.8.16.0-32bit.msi.rsa.asc
   date: 01-Nov-2015 22:17
   size: 836
 - file: TortoiseGit-1.8.16.0-64bit.msi
   date: 01-Nov-2015 22:18
   size: 19243008
 - file: TortoiseGit-1.8.16.0-64bit.msi.asc
   date: 01-Nov-2015 22:18
   size: 188
 - file: TortoiseGit-1.8.16.0-64bit.msi.rsa.asc
   date: 01-Nov-2015 22:18
   size: 836
 - file: TortoiseGit-DebugSymbols-1.8.16.0.7z
   date: 01-Nov-2015 22:19
   size: 32800029
 - file: TortoiseGit-DebugSymbols-1.8.16.0.7z.asc
   date: 01-Nov-2015 22:19
   size: 188
 - file: TortoiseGit-DebugSymbols-1.8.16.0.7z.rsa.asc
   date: 01-Nov-2015 22:19
   size: 836
 - file: TortoiseGit-LanguageDlls-1.8.16.0-32bit.7z
   date: 05-Apr-2016 09:04
   size: 1869783
 - file: TortoiseGit-LanguageDlls-1.8.16.0-32bit.7z.asc
   date: 05-Apr-2016 09:05
   size: 188
 - file: TortoiseGit-LanguageDlls-1.8.16.0-32bit.7z.rsa.asc
   date: 05-Apr-2016 09:05
   size: 836
 - file: TortoiseGit-LanguageDlls-1.8.16.0-64bit.7z
   date: 05-Apr-2016 09:05
   size: 1906252
 - file: TortoiseGit-LanguageDlls-1.8.16.0-64bit.7z.asc
   date: 05-Apr-2016 09:05
   size: 188
 - file: TortoiseGit-LanguageDlls-1.8.16.0-64bit.7z.rsa.asc
   date: 05-Apr-2016 09:05
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-bg_BG.msi
   date: 01-Nov-2015 22:17
   size: 2965504
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-bg_BG.msi.asc
   date: 01-Nov-2015 22:17
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-bg_BG.msi.rsa.asc
   date: 01-Nov-2015 22:17
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-ca.msi
   date: 01-Nov-2015 23:02
   size: 3248128
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-ca.msi.asc
   date: 01-Nov-2015 23:04
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-ca.msi.rsa.asc
   date: 01-Nov-2015 23:04
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-cs.msi
   date: 01-Nov-2015 22:17
   size: 2940928
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-cs.msi.asc
   date: 01-Nov-2015 22:17
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-cs.msi.rsa.asc
   date: 01-Nov-2015 22:17
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-de.msi
   date: 01-Nov-2015 22:17
   size: 5390336
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-de.msi.asc
   date: 01-Nov-2015 22:17
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-de.msi.rsa.asc
   date: 01-Nov-2015 22:17
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-es_ES.msi
   date: 01-Nov-2015 22:17
   size: 2949120
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-es_ES.msi.asc
   date: 01-Nov-2015 22:17
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-es_ES.msi.rsa.asc
   date: 01-Nov-2015 22:17
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-fi.msi
   date: 01-Nov-2015 22:17
   size: 2359296
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-fi.msi.asc
   date: 01-Nov-2015 22:17
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-fi.msi.rsa.asc
   date: 01-Nov-2015 22:17
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-fr.msi
   date: 01-Nov-2015 23:01
   size: 3063808
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-fr.msi.asc
   date: 01-Nov-2015 23:04
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-fr.msi.rsa.asc
   date: 01-Nov-2015 23:04
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-hu.msi
   date: 01-Nov-2015 23:01
   size: 3076096
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-hu.msi.asc
   date: 01-Nov-2015 23:04
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-hu.msi.rsa.asc
   date: 01-Nov-2015 23:04
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-id.msi
   date: 01-Nov-2015 22:18
   size: 2359296
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-id.msi.asc
   date: 01-Nov-2015 22:18
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-id.msi.rsa.asc
   date: 01-Nov-2015 22:18
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-it_IT.msi
   date: 01-Nov-2015 22:18
   size: 3055616
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-it_IT.msi.asc
   date: 01-Nov-2015 22:18
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-it_IT.msi.rsa.asc
   date: 01-Nov-2015 22:18
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-ja.msi
   date: 01-Nov-2015 22:18
   size: 2011136
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-ja.msi.asc
   date: 01-Nov-2015 22:18
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-ja.msi.rsa.asc
   date: 01-Nov-2015 22:18
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-ko_KR.msi
   date: 01-Nov-2015 22:18
   size: 2351104
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-ko_KR.msi.asc
   date: 01-Nov-2015 22:18
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-ko_KR.msi.rsa.asc
   date: 01-Nov-2015 22:18
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-nl_NL.msi
   date: 01-Nov-2015 22:18
   size: 2994176
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-nl_NL.msi.asc
   date: 01-Nov-2015 22:18
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-nl_NL.msi.rsa.asc
   date: 01-Nov-2015 22:18
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-pl_PL.msi
   date: 01-Nov-2015 22:18
   size: 3383296
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-pl_PL.msi.asc
   date: 01-Nov-2015 22:18
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-pl_PL.msi.rsa.asc
   date: 01-Nov-2015 22:18
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-pt_BR.msi
   date: 01-Nov-2015 22:18
   size: 3969024
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-pt_BR.msi.asc
   date: 01-Nov-2015 22:18
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-pt_BR.msi.rsa.asc
   date: 01-Nov-2015 22:18
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-pt_PT.msi
   date: 01-Nov-2015 22:18
   size: 3002368
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-pt_PT.msi.asc
   date: 01-Nov-2015 22:18
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-pt_PT.msi.rsa.asc
   date: 01-Nov-2015 22:18
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-ro.msi
   date: 01-Nov-2015 23:01
   size: 3321856
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-ro.msi.asc
   date: 01-Nov-2015 23:04
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-ro.msi.rsa.asc
   date: 01-Nov-2015 23:04
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-ru.msi
   date: 01-Nov-2015 23:01
   size: 3239936
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-ru.msi.asc
   date: 01-Nov-2015 23:04
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-ru.msi.rsa.asc
   date: 01-Nov-2015 23:04
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-sk.msi
   date: 01-Nov-2015 22:18
   size: 3125248
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-sk.msi.asc
   date: 01-Nov-2015 22:18
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-sk.msi.rsa.asc
   date: 01-Nov-2015 22:18
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-sr-latin.msi
   date: 01-Nov-2015 22:18
   size: 2863104
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-sr-latin.msi.asc
   date: 01-Nov-2015 22:18
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-sr-latin.msi.rsa.asc
   date: 01-Nov-2015 22:18
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-sv.msi
   date: 01-Nov-2015 22:18
   size: 3616768
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-sv.msi.asc
   date: 01-Nov-2015 22:18
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-sv.msi.rsa.asc
   date: 01-Nov-2015 22:18
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-tr.msi
   date: 01-Nov-2015 22:18
   size: 2363392
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-tr.msi.asc
   date: 01-Nov-2015 22:18
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-tr.msi.rsa.asc
   date: 01-Nov-2015 22:18
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-uk.msi
   date: 01-Nov-2015 22:18
   size: 2838528
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-uk.msi.asc
   date: 01-Nov-2015 22:18
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-uk.msi.rsa.asc
   date: 01-Nov-2015 22:18
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-vi.msi
   date: 01-Nov-2015 23:02
   size: 2379776
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-vi.msi.asc
   date: 01-Nov-2015 23:04
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-vi.msi.rsa.asc
   date: 01-Nov-2015 23:04
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-zh_CN.msi
   date: 01-Nov-2015 22:18
   size: 1990656
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-zh_CN.msi.asc
   date: 01-Nov-2015 22:18
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-zh_CN.msi.rsa.asc
   date: 01-Nov-2015 22:18
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-zh_TW.msi
   date: 01-Nov-2015 22:18
   size: 1990656
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-zh_TW.msi.asc
   date: 01-Nov-2015 22:18
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-32bit-zh_TW.msi.rsa.asc
   date: 01-Nov-2015 22:18
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-bg_BG.msi
   date: 01-Nov-2015 22:18
   size: 4079616
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-bg_BG.msi.asc
   date: 01-Nov-2015 22:18
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-bg_BG.msi.rsa.asc
   date: 01-Nov-2015 22:18
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-ca.msi
   date: 01-Nov-2015 23:02
   size: 4366336
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-ca.msi.asc
   date: 01-Nov-2015 23:05
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-ca.msi.rsa.asc
   date: 01-Nov-2015 23:05
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-cs.msi
   date: 01-Nov-2015 22:18
   size: 4046848
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-cs.msi.asc
   date: 01-Nov-2015 22:18
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-cs.msi.rsa.asc
   date: 01-Nov-2015 22:18
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-de.msi
   date: 01-Nov-2015 22:18
   size: 6504448
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-de.msi.asc
   date: 01-Nov-2015 22:18
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-de.msi.rsa.asc
   date: 01-Nov-2015 22:18
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-es_ES.msi
   date: 01-Nov-2015 22:18
   size: 4063232
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-es_ES.msi.asc
   date: 01-Nov-2015 22:18
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-es_ES.msi.rsa.asc
   date: 01-Nov-2015 22:18
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-fi.msi
   date: 01-Nov-2015 22:18
   size: 3477504
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-fi.msi.asc
   date: 01-Nov-2015 22:18
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-fi.msi.rsa.asc
   date: 01-Nov-2015 22:18
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-fr.msi
   date: 01-Nov-2015 23:02
   size: 4177920
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-fr.msi.asc
   date: 01-Nov-2015 23:05
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-fr.msi.rsa.asc
   date: 01-Nov-2015 23:05
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-hu.msi
   date: 01-Nov-2015 23:02
   size: 4190208
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-hu.msi.asc
   date: 01-Nov-2015 23:05
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-hu.msi.rsa.asc
   date: 01-Nov-2015 23:05
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-id.msi
   date: 01-Nov-2015 22:18
   size: 3473408
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-id.msi.asc
   date: 01-Nov-2015 22:18
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-id.msi.rsa.asc
   date: 01-Nov-2015 22:18
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-it_IT.msi
   date: 01-Nov-2015 22:18
   size: 4169728
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-it_IT.msi.asc
   date: 01-Nov-2015 22:18
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-it_IT.msi.rsa.asc
   date: 01-Nov-2015 22:18
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-ja.msi
   date: 01-Nov-2015 22:18
   size: 3117056
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-ja.msi.asc
   date: 01-Nov-2015 22:18
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-ja.msi.rsa.asc
   date: 01-Nov-2015 22:18
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-ko_KR.msi
   date: 01-Nov-2015 22:18
   size: 3465216
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-ko_KR.msi.asc
   date: 01-Nov-2015 22:18
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-ko_KR.msi.rsa.asc
   date: 01-Nov-2015 22:18
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-nl_NL.msi
   date: 01-Nov-2015 22:18
   size: 4112384
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-nl_NL.msi.asc
   date: 01-Nov-2015 22:18
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-nl_NL.msi.rsa.asc
   date: 01-Nov-2015 22:18
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-pl_PL.msi
   date: 01-Nov-2015 22:18
   size: 4501504
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-pl_PL.msi.asc
   date: 01-Nov-2015 22:18
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-pl_PL.msi.rsa.asc
   date: 01-Nov-2015 22:18
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-pt_BR.msi
   date: 01-Nov-2015 22:18
   size: 5087232
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-pt_BR.msi.asc
   date: 01-Nov-2015 22:18
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-pt_BR.msi.rsa.asc
   date: 01-Nov-2015 22:18
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-pt_PT.msi
   date: 01-Nov-2015 22:18
   size: 4116480
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-pt_PT.msi.asc
   date: 01-Nov-2015 22:18
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-pt_PT.msi.rsa.asc
   date: 01-Nov-2015 22:18
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-ro.msi
   date: 01-Nov-2015 23:02
   size: 4440064
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-ro.msi.asc
   date: 01-Nov-2015 23:05
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-ro.msi.rsa.asc
   date: 01-Nov-2015 23:05
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-ru.msi
   date: 01-Nov-2015 23:02
   size: 4358144
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-ru.msi.asc
   date: 01-Nov-2015 23:06
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-ru.msi.rsa.asc
   date: 01-Nov-2015 23:05
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-sk.msi
   date: 01-Nov-2015 22:18
   size: 4243456
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-sk.msi.asc
   date: 01-Nov-2015 22:18
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-sk.msi.rsa.asc
   date: 01-Nov-2015 22:18
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-sr-latin.msi
   date: 01-Nov-2015 22:18
   size: 3981312
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-sr-latin.msi.asc
   date: 01-Nov-2015 22:18
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-sr-latin.msi.rsa.asc
   date: 01-Nov-2015 22:18
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-sv.msi
   date: 01-Nov-2015 22:18
   size: 4730880
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-sv.msi.asc
   date: 01-Nov-2015 22:18
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-sv.msi.rsa.asc
   date: 01-Nov-2015 22:18
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-tr.msi
   date: 01-Nov-2015 22:18
   size: 3477504
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-tr.msi.asc
   date: 01-Nov-2015 22:18
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-tr.msi.rsa.asc
   date: 01-Nov-2015 22:18
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-uk.msi
   date: 01-Nov-2015 22:18
   size: 3952640
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-uk.msi.asc
   date: 01-Nov-2015 22:18
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-uk.msi.rsa.asc
   date: 01-Nov-2015 22:18
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-vi.msi
   date: 01-Nov-2015 23:02
   size: 3497984
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-vi.msi.asc
   date: 01-Nov-2015 23:05
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-vi.msi.rsa.asc
   date: 01-Nov-2015 23:05
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-zh_CN.msi
   date: 01-Nov-2015 22:18
   size: 3100672
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-zh_CN.msi.asc
   date: 01-Nov-2015 22:18
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-zh_CN.msi.rsa.asc
   date: 01-Nov-2015 22:18
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-zh_TW.msi
   date: 01-Nov-2015 22:18
   size: 3100672
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-zh_TW.msi.asc
   date: 01-Nov-2015 22:18
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.16.0-64bit-zh_TW.msi.rsa.asc
   date: 01-Nov-2015 22:18
   size: 836
---
