---
layout: default
title: Crash report for a fixed issue
robotsNoIndex: true
---
		<div class="container_grey">
			<div class="wrap_content contentpage">
				<h1>Crash report for an already fixed issue</h1>

				<p>Thank you for reporting this crash. We analyzed your report and already fixed the cause of it.</p>
				<p>Please make sure that you use the latest version of TortoiseGit!</p>
				<p>Use the auto updater of TortoiseGit (TortoiseGit -&gt; About, check for updates...) or go to our <a href="/download/">download</a> page.</p>
				<p>If this issue persists, please check out whether there is a preview release available and this issue is fixed there. If not, please open an issue in our <a href="/issues" target="_blank" class="gitlab">issue tracker on GitLab</a>.</p>
			</div>
		</div>
